*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}

form{
	width: 96%;
	max-width: 600px;
	margin: 0 auto;
	background-color: white;
	text-align: center;

}
form fieldset{
	padding: 20px 40px;
	border: 2px solid #ccc;
}	
form legend{
	font-size: 30px;
	color: rgb(238, 76, 101);
}
form input[type=text]{
	display: inline-block;
	margin-top: 30px;
	width: 80%;
	padding: 10px 13px;
	border: 1px solid #ccc;
	font-family: tahoma;
}
form input[type=text]:focus, form select:focus, form input[type="submit"], form textarea:focus{
	outline: 0;
}
form select{
	color: rgb(100,100,100);
	width:calc(80% + 26px);
	margin-top: 30px;
	padding: 10px 13px;
	display: inline-block;
	border: 1px solid #ccc;
	font-family: tahoma;
}
form h2{
	margin-top:20px;
	color: #8d93ab;
}
.inputrs{
	text-align: left;
	margin-top: 20px;
	display: inline-block;
}
.inputrs span{
	margin-left: 13px;
	font-size: 16px;
	color: #d6e0f0;
}
form textarea{
	margin-top: 30px;
	width: 80%;
	padding: 10px 13px;
	resize: none;
	border: 1px solid #ccc;
	height: 140px;
	font-size: 16px;
	font-family: tahoma;

}
form input[type=submit]{
	font-size: 16px;
	cursor: pointer;
	margin-top: 30px;
	padding: 10px 13px;
	background-image: linear-gradient(red,yellow, orange);
	border:2px solid #ccc;
}
